.mss-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.my-slider {
    /* width: 73.6vw;
    min-width: 425px; */
    /* border: 1px solid red; */
    margin: auto;
    height: 200px;
    position: relative;
}
.pagination {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
}

.mss-slide {
    position: absolute;
    left: 0;
}
.mss-slide, .mss-slide * {
    /* position: absolute;
   left: 0; */
   /* top: 0; */
    /* margin: auto; */
    opacity: 0;
    transform: translateX(100px);
    transition: all 1.5s ease-out;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.mss-slide.active, .mss-slide.active *{
    opacity: 1;
    transform: translateX(0);
}

.pagination .next, .pagination .prev {
    background: pink;
    width: 100px;
    height: 100px;
    margin: auto;
}