.mss-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.pagination {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
}

.mss-slide {
    position: absolute;
   left: 0;
   top: 0;
    /* margin: auto; */
    opacity: 0;
    transform: translateX(100px);
    transition: all .5s ease;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.mss-slide.active {
    opacity: 1;
    transform: translateX(0);
}

.pagination .next, .pagination .prev {
    background: pink;
    width: 100px;
    height: 100px;
    margin: auto;
}