@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Manrope", sans-serif;
	font-size: 62.5%;
	font-weight: 600;
	color: white;
	// background: #222831;
	// background: #30475e;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	color: white;
}
p,
a {
	font-size: 2.4em;
}
a {
	text-decoration: none;
}
h2 {
	font-size: clamp(calc(100vw / 55.5), 2em, 3em);
}
/** variables **/
:root {
	--sectionColor: #00abf3;
}

.abs {
	position: absolute;
}
.fix {
	position: fixed;
}
.app {
	position: absolute;
	width: 100%;
}

nav {
	transform: translateX(20px);
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
	height: 100%;
	background: var(--sectionColor);
	height: calc(100vh - 6vw);
	width: 94vw;
	max-width: 700px;
	right: 3vw;
	top: 3vw;
	z-index: 1;
	pointer-events: none;

	&.show-nav {
		transform: translateX(0);
		opacity: 1;
		pointer-events: auto;
	}
	ul {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		list-style: none;
		padding-right: 15px;
		height: 100%;

		li {
			margin: 5px;

			a {
				padding: 0 25px;
			}
		}
	}
}
.frame {
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 1;
	pointer-events: none;

	// .section1_border {
	// 	border: 3vw solid var(--section1color);
	// }

	// .section2_border {
	// 	border: 3vw solid var(--section2color);
	// }

	// .section3_border {
	// 	border: 3vw solid var(--section3color);
	// }

	#border {
		width: 100%;
		height: 100vh;
		// border: 50px solid #30475e;
		// border: 3vw solid var(--borderColor);
		border: 3vw solid var(--sectionColor);

		left: 0;
		top: 0;
		transition: border 1s ease;
	}
	.left {
		left: 3vw;
		height: calc(100vh - 6vw);
		top: 3vw;

		.logo {
			top: 3vw;
			left: 3vw;

			.svg-logo {
				width: 9vw;
				min-width: 120px;
				max-width: 200px;
				height: auto;
			}

			img {
				width: 9vw;
				min-width: 120px;
				max-width: 200px;
				height: auto;
			}
		}
	}
	.right {
		right: 3vw;
		height: calc(100vh - 30px);
		top: 3vw;
		pointer-events: all;

		.controls {
			top: 3vw;
			right: 3vw;

			.controls-item {
				border: 2px solid #d9d9d9;
				// width: calc(2.5vw + 10px);
				// height: calc(2.5vw + 10px);
				width: 60px;
				height: 60px;
				min-width: 50px;
				min-height: 50px;
				margin-top: -2px;
				display: flex;
				justify-content: center;
				align-items: center;

				.menu-icon {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					height: 100%;
					width: 100%;
					padding: 15px;
					cursor: pointer;

					.line-container {
						border: 1px solid var(--sectionColor);

						width: 100%;
						background: var(--sectionColor);

						&.x {
							display: none;
							transform: rotate(0) translate(0);

							border: 1px solid white;
						}
					}

					&.nav-open .x {
						display: block !important;
					}
					&.nav-open .straight {
						display: none;
					}

					&.nav-open .line-container.x.two {
						transform: rotate(-45deg) translate(5px, -6px);
					}
					&.nav-open .line-container.x.one {
						transform: rotate(45deg) translate(3px, 4px);
					}
				}

				img.icon {
					width: auto;
					height: 20px;
				}
			}
		}
	} // right
}

.wrapper {
	// width: 100%;
	width: 94vw;
	margin: auto;
	height: calc(100vh - 100px);
	position: relative;
	top: 3vw;

	height: calc(100vh - 6vw);

	.cta {
		// position: fixed;

		padding: 20px;
		margin-top: 3vh;
		background: none;
		border: 2px solid white;
		font-size: 24px;
		font-weight: bold;
		color: var(--sectionColor);
	}
	// .section1_btn {
	// 	color: var(--section1color);
	// }

	// .section2_btn {
	// 	color: var(--section2color);
	// }

	// .section3_btn {
	// 	color: var(--section3color);
	// }

	section {
		height: 100vh;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		position: relative;
		padding: 24vw;

		.overlay {
			background: black;
			width: 94vw;
			margin: auto;
			height: 100%;
			position: absolute;
			opacity: 0.3;
		}

		&.show .row {
			transform: scale(1);
			opacity: 1;
		}
		.row {
			transform: scale(0.8);
			opacity: 0;

			width: 100%;

			transition: all 1s ease;

			.column {
				p {
					font-size: clamp(calc(100vw / 90), 1.5em, 3em);
				}
				hr {
					margin: 1vh 0 2vh 0;
				}
			}
		}

		&.section1 {
			background-image: url("../images/light-bulb.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
		&.section2 {
			background-image: url("../images/stand-out.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}

		&.section3 {
			background-image: url("../images/client.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			margin-bottom: calc(100vw * 0.03);
		}
		&.section4 {
			// min-height: 100vh;
			// padding: 24vw;
			top: -3vw;
			background: blue;
			background-image: url("../images/coffee.jpg");
			margin-bottom: calc(100vw * 0.03);
		}
	}
}

.contact-frame {
	position: fixed;
	top: 0;
	left: 0;
	border: 3vw solid blue;
	height: 100vh;
	width: 100vw;
}

footer {
	height: 20vh;
	width: 100%;
	background: purple;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: calc(100vw * 0.03);
}
